.mapa{
    background: linear-gradient(rgb(255, 255, 255), rgb(153, 153, 153));
}

.mapa p{
    text-align: center;
}

.mapa-contenido{
    margin: 20px auto 0;
    width: 80%;
    padding: 40px;
}
.principal p{
    text-align: center;
}
.titulo-principal{
    text-align: center;
    font-family: Pacifico, cursive;
    font-size: 5rem;
    margin-bottom: 2rem;
}

.seleccion{
    padding: 1rem;
    font-size: 1.3rem;
}
.subtitulo-mapa{
    color: #8C8888;
    font-size: 1.4rem;
    font-weight: 300;
    font-family: Roboto;
}